@media(width >= 768px){

    body{
        overflow-x: hidden;
    }
    .clickcoffe{
        display: none;
    }
    .coffemenu{
        display: none;
    }

    .coffe-menu1{
        margin-left: 100px;
        margin-right: 30px;
    }

    .coffe-menu1 a{
        color: #83888F;
        font-size: 12px;
        font-family: Barlow;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 15px;
        letter-spacing: 0.92px;
        word-wrap: break-word;
        margin-left: 30px;
    }

    .header111{
        margin-left: 20px;
    }

   

    .coffe-menu1 a:hover{
        color: #0E8784;
    }

    .section1{
        background-image: url(./aboutassets/tablet2.svg);
        width: 689px;
        height: 400px;
        display: flex;
    }

     h1{
        display: flex;
        align-self: flex-start;
        margin-left: 28px;
    }

    .section1 p{
        align-self: flex-start;
        text-align: left;
        width: 450px;
    }

    .title{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 144px;
    }
    .aboutboy{
        display: none;
    }

    .aboutboy2{
        margin-right: 40px;
    }

    .ourcollection{
        margin-left: 50px;
    }

    .grid p{
        margin-left: 10px;
    }
    .mini1{
        display: none;
    }

    .black{
        width: 689px;
        height: 500px;
        margin-top: 270px;
    }

    .grow1{
        margin-top: 180px;
    }

    .black h4{
        padding-top: 140px;
        padding-bottom: 30px;
    }

    .black p{
        width: 580px;
        line-height: 29px;
    }

    .margindiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -440px;
    }
    

    .listofcoffe{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        text-align: left;
    }
    
    .list1 h5{
        font-size: 20px;
    }

    .footer2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footerimg{
        display: none;
    }

    .footerimg1{
        margin-top: 54px;
        margin-bottom: 54px;
    }

    .footer2 a{
        margin-bottom: 30px;
    }
}





@media(width < 768px){
    .coffe-menu1{
        display: none;
    }

    .aboutboy2{
        display: none;
    }

    .footerimg1{
        display: none;
    }

    .grow1{
        display: none;
    }
}

@media(width >= 1440px){
    .section1{
        background-image: url(./aboutassets/desktopimeore.svg);
        width: 100%;
        height: 600px;
    }

    .section1 h1{
        color: #FEFCF7;
        font-size: 40px;
        font-family: Fraunces;
        font-weight: 900;
        line-height: 48px;
        word-wrap: break-word;
        margin-left: 150px;
    }

    .section1 p{
        color: #FEFCF7;
        font-size: 16px;
        font-family: Barlow;
        font-weight: 400;
        line-height: 26px;
        word-wrap: break-word;
        margin-left: 130px;
    }
    .aboutboy3{
        margin-right: 130px;
    }

    .aboutboy2{
        display: none;
    }
    .ourcollection{
        width: 400px;
        position: relative;
        left: -20px;
    }

    .grid p {
        color: #333D4B;
    font-size: 16px;
    font-family: Barlow;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    width: 600px;
    text-align: left;
    }

    .grow1{
        display: none;
    }
    
    .grow2{
        width: 100%;
        position: relative;
        left: 340px;
        top: 300px;
        height: 600px;
    }

    .black{
        width: 93%;
        margin-top: 400px;
        height: 500px;
    }

    .black h4{
        color: #FEFCF7;
    font-size: 40px;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 48px;
    word-wrap: break-word;
    margin-left: -600px;
    margin-top: -50px;
    }

    .black p{
        color: #FEFCF7;
    font-size: 16px;
    font-family: Barlow;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-left: -600px;
    }

    .margindiv{
        position: relative;
        left: -300px;
    }

    .listofcoffe{
        position: relative;
        left: -90px;
        gap: 100px;
        margin-bottom: 168px;
    }

    .list1 h5{
        color: #333D4B;
    font-size: 32px;
    font-family: Fraunces 9pt;
    font-weight: 900;
    line-height: 36px;
    word-wrap: break-word;
    }


    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: -1px;
        height: 170px;
       }
    
       .footer2{
        position: relative;
        top: 35px;
        left: -100px;
       }
    
       .footer2 a:hover{
        color: #FDD6BA;
       }
       .media{
        position: relative;
        top: -10px;
       }
    
       svg:hover path{
        fill: #FDD6BA;
        cursor: pointer;
        transition: 1s;
    }
    
        svg:hover{
        transform: scale(1.2);
        transition: 1s;
    }
}



@media (width < 1440px){
    .aboutboy3{
        display: none;
    }

    .grow2{
        display: none;
    }
}